<div class="container-fluid">
  <menu></menu>
</div>

<div class="row">
  <div class="col-12">
    <img class="sunset" src="./assets/sunset.jpg">
  </div>
  <div class="col-8">
    <div class="row">
      <div class="col-12">
        <h2 class="titulo">Leia a baixo as dicas de usabilidade do nosso site, essencial para um bom trabalho! </h2>
        <p>
          <strong>Para facilitar a sua leitura, clique em cada tópico para expandir o conteúdo. Leia atentamente as instruções e
            garanta a chance de conquistar muitos premios</strong>
        </p>
      </div>
      <div class="col-12-lg">
        <div id="accordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="headingOne" style="background:#f29649;">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color:#59585c; font-size:15px">
                  TÓPICO 1
                </a>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block" style="color:white;">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
              </div>
            </div>
          </div>
        </div>

        <br/>

        <div id="accordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="headingTwo" style="background:#f29649;">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne" style="color:#59585c; font-size:15px">
                  TÓPICO 1
                </a>
              </h5>
            </div>

            <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
              <div class="card-block" style="color:white;">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
              </div>
            </div>
          </div>
        </div>

        <br/>

        <div id="accordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="heading" style="background:#f29649;">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse" aria-expanded="true" aria-controls="collapseOne" style="color:#59585c; font-size:15px">

                  TÓPICO 1
                </a>
              </h5>
            </div>

            <div id="collapse" class="collapse show" role="tabpanel" aria-labelledby="heading">
              <div class="card-block" style="color:white;">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
              </div>
            </div>
          </div>
        </div>
        <br/>
      </div>
    </div>
  </div>


  <div class="col-4">
    <img class="banner-right" src="./assets/banner-manual.png">
    <div class="square">
      <p>Você é o</p>
      <h1 class="square-20">20º</h1>
      <p>colocado</p>
    </div>
    <div class="square2">
      <p>e está a</p>
      <h3>50</h3>
      <p>pontos do 1° colocado</p>
    </div>
  </div>

  <div class="container-fluid">
    <app-footer></app-footer>
  </div>