<div class="logo">

</div>

<div class="card">
  <div class="card-block">
    <form>

      <div class="form-group">
        <label for="inputEmail">
          <i class="fa fa-envelope"></i></label> Email
        <input id="email" type="email" class="form-control" placeholder="Digite seu email" name="email">
      </div>

      <div class="form-group">
        <label for="inputPassword">
          <i class="fa fa-unlock-alt"></i></label>  Senha
        <input id="password" type="password" class="form-control" aria-describedby="passwordAlert" id="inputPassword" placeholder="Digite sua senha"
          name="password">
  
      </div>

      <div class="form-group row">
        <div class="col text-center">
          <button type="submit" class="btn btn-outline-primary btn-block" routerLink="/body">Acessar</button>
        </div>

        <div class="col text-right">
          <a class="passwordRecoveryBackButton" >Esqueceu a senha?</a>
        </div>
      </div>

    </form>
  </div>
</div>