/* You can add global styles to this file, and also import other style files */

/* div { border: 1px solid red;} */

* { font-family: 'Roboto', sans-serif; }



.container-fluid { background-color: rgb(85, 82, 82); }


